.website-logo-img {
  height: 8vh;
  width: 40vh;
  margin-top: 10px;
}

.unordered-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-link {
  margin-top: -40px;
  margin-right: 20px;
  font-size: 20px;
  color: #1e293b;
  font-weight: 'Roboto';
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}

.lg-button {
  height: 30px;
  background-color: #0b69ff;
  color: #ffffff;
  border: 2px none;
}

.lg-button:hover {
  background-color: #db84d5;
  color: #000000;
}

.button-container {
  margin-top: -80px;
}
